[project]
	description = Postgresql JDBC Driver
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/seregamorph
[access "refs/for/refs/*"]
	read = group user/seregamorph
	push = group user/seregamorph
	label-Code-Review = -2..+2 group user/seregamorph
	label-Verified = -1..+1 group user/seregamorph
	rebase = group user/seregamorph
	removeReviewer = group user/seregamorph
	submit = group user/seregamorph
[access "refs/heads/*"]
	read = group user/seregamorph
	create = group user/seregamorph
	push = +force group user/seregamorph
	pushMerge = group user/seregamorph
[access "refs/tags/*"]
	push = +force group user/seregamorph
	pushTag = group user/seregamorph
	pushSignedTag = group user/seregamorph
